---
// This is Astro's frontmatter
// here you can write regular JavaScript or TypeScript
// It will only run on the server and never executes client-side
import Food from '../components/food.vue';
import Navigation from '../components/navigation.vue';

const title: string = 'Hello World!';
---

<html>
  <Navigation />

  <!-- Astro uses a JSX-like syntax in it's body -->
  <title>{title}</title>

  <body>
    <main>
      <h1>Food I like:</h1>
      <!-- let's render our food items -->
      <Food />
    </main>
  </body>
</html>
