---
// This is Astro's frontmatter
// here you can write regular JavaScript or TypeScript
// It will only run on the server and never executes client-side
import Food from '../components/food.vue';
import Navigation from '../components/navigation.vue';
import Draggable from '../components/draggable.vue';

const title: string = 'Hello World!';
---

<html>
  <header>
    <Navigation client:visible />
  </header>

  <!-- Astro uses a JSX-like syntax in it's body -->
  <title>{title}</title>

  <body>
    <main>
      <h1>Food I like:</h1>
      <!-- let's render our food items -->
      <Food />
      <Draggable client:idle />
    </main>
  </body>


</html>
